body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 180px; 
   
}

.menu {
    background-color: #FF914D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.menu .nav a:hover {
    text-decoration: underline;
}

.social a {
    color: white;
    margin: 0 10px;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #FF914D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b96937;
}

footer {
    background-color: #FF914D;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.invalid {
    border-color: red;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
